@model GoldenChicken.Core.Models.ContactForm
<dl class="row" style="padding-top:10px">
    <dt class="col-sm-4">
        @Html.DisplayNameFor(model => model.Name)
    </dt>
    <dd class="col-sm-8">
        @Html.DisplayFor(model => model.Name)
    </dd>
    <dt class="col-sm-4">
        @Html.DisplayNameFor(model => model.Email)
    </dt>
    <dd class="col-sm-8">
        @Html.DisplayFor(model => model.Email)
    </dd>
    <dt class="col-sm-4">
        @Html.DisplayNameFor(model => model.Message)
    </dt>
    <dd class="col-sm-8">
        @Html.DisplayFor(model => model.Message)
    </dd>
</dl>
<div style="float:left">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <input type="submit" value="حذف" class="btn btn-danger mr-2" />
    }
</div>