@model GoldenChicken.Web.ViewModels.ArticleDetailsViewModel
@{
    ViewBag.Title = Model.Title;
}
<section class="our-articles bg-light-theme section-padding pt-0">
    <div class="blog-page-banner"></div>
    <div class="container-fluid">
        <div class="row">
            <aside class="col-lg-3">
                <div class="side-bar section-padding pb-0 mb-md-40">
                    @Html.Action("TopArticlesSection", "Blog")
                    <div class="main-box padding-20 blog-tags mb-xl-20">
                        <h4 class="text-light-black">برچسب ها</h4>
                        @foreach (var item in Model.Tags)
                        {
                            <a href="/Blog?searchString=@item.Title">#@item.Title</a>
                        }
                    </div>
                    @Html.Action("ArticleCategoriesSection", "Blog")
                </div>
            </aside>
            <div class="col-lg-9 blog-inner clearfix">
                <div class="main-box padding-20 full-width">
                    <div class="breadcrumb-wrpr">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="/" class="text-light-black">خانه</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="/Blog" class="text-light-black">بلاگ</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">@Model.Title</li>
                        </ul>
                    </div>
                    <div class="post-wrapper mb-xl-20">
                        <img src="/Files/ArticleImages/Image/@Model.Image" class="img-fluid full-width" alt="@Model.Title">
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="blog-meta mb-xl-20">
                                <h2 class="blog-title text-light-black">@Model.Title</h2>
                                <h6 class="text-light-white fs-14">@Model.PersianDate</h6>
                                <p class="text-light-white">
                                    @Model.ShortDescription
                                </p>
                            </div>
                            <div class="blog-meta mb-xl-20">
                                <p class="text-light-white">
                                    @Html.Raw(Model.Description)
                                </p>
                            </div>
                            <div class="comment-box">
                                <div class="section-header-left">
                                    <h3 class="text-light-black header-title">نظرات</h3>
                                </div>
                                @foreach (var item in Model.ArticleComments.Where(c => c.ParentId == null))
                                {
                                    <div class="review-box">
                                        <div class="review-user">
                                            <div class="review-user-img">
                                                <img src="/Files/UserAvatars/user-avatar.png" style="width: 50px" class="rounded-circle" alt="@item.Name">
                                                <div class="reviewer-name">
                                                    <p class="text-light-black fw-600">
                                                        @item.Name
                                                    </p><a onclick="AnswerComment(@item.Id,'@item.Name')" style="cursor: pointer" class="text-light-black"><i class="fas fa-reply text-black"></i> پاسخ دادن  </a>
                                                </div>
                                            </div>
                                            <div class="review-date">
                                                <span class="text-light-white">@item.AddedDate</span>
                                            </div>
                                        </div>
                                        <p class="text-light-black">@item.Message</p>
                                    </div>
                                    foreach (var child in Model.ArticleComments.Where(c => c.ParentId == item.Id))
                                    {
                                        <div class="review-box comment-reply">
                                            <div class="review-user">
                                                <div class="review-user-img">
                                                    <img src="/Files/UserAvatars/user-avatar.png" style="width: 50px" class="rounded-circle" alt="@child.Name">
                                                    <div class="reviewer-name">
                                                        <p class="text-light-black fw-600">
                                                            @child.Name
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="review-date">
                                                    <span class="text-light-white">@child.AddedDate</span>
                                                </div>
                                            </div>
                                            <p class="text-light-black">@child.Message</p>
                                        </div>
                                    }
                                }
                            </div>
                            <div class="comment-form">
                                <div class="section-header-left">
                                    <h3 id="answerPerson" class="text-light-black header-title">نظر بدهید</h3>
                                </div>
                                @using (Html.BeginForm("PostComment", "Blog", FormMethod.Post, new { id = "commentform", @class = "comment-form" }))
                                {
                                    <input type="hidden" id="ArticleId" name="ArticleId" value="@Model.Id">
                                    <input type="hidden" id="ParentId" name="ParentId" value="">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="text-light-black fw-600">نام و نام خانوادگی</label>
                                                <input type="text" name="Name" id="Name" class="form-control form-control-submit"
                                                       placeholder="نام و نام خانوادگی">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="text-light-black fw-600">ایمیل</label>
                                                <input type="email" name="Email" id="Email"
                                                       class="form-control form-control-submit"
                                                       placeholder="ایمیل">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="text-light-black fw-600">نظر شما</label>
                                                <textarea class="form-control form-control-submit" name="Message" id="Message" rows="6"
                                                          placeholder="نظر شما"></textarea>
                                            </div>
                                            <button type="submit"
                                                    class="btn-second btn-submit full-width">
                                                ارسال
                                            </button>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<style>
    .my-error-class {
        color: #FF0000; /* red */
    }
</style>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $("#commentform").validate({
            errorClass: "my-error-class",
            rules: {
                Name: "required",
                Message: "required",
                Email: {
                    required: true,
                    email: true
                }
            },
            messages: {
                Name: "نام خود را وارد کنید",
                Message: "پیام خود را وارد کنید",
                Email: {
                    required: "ایمیل خود را وارد کنید",
                    email: "ایمیل وارد شده معتبر نیست"
                },
            }
        });
    </script>
    <script>
        function AnswerComment(parentId, parentName) {
            $('#answerPerson').html("پاسخ دادن به   " + parentName +"<a class='btn btn-submit text-white' style='margin-right:10px;cursor:pointer' onclick='removePerson()'>حذف</a>");
            $('#ParentId').val(parentId);
        }
        function removePerson() {
            $('#answerPerson').html("نظر بدهید");
            $('#ParentId').val("");
        }
    </script>
}